@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="container">

        <div class="col-md-12">
            <div class="form-group">
                <label>公鑰A</label>
                <textarea id="publicKeyA">@ViewBag.publicKeyA</textarea>
            </div>
            <div class="form-group">
                <label>私鑰A</label>
                <textarea id="privateKeyA">@ViewBag.privateKeyA</textarea>
            </div>
            <div class="form-group">
                <label>公鑰B</label>
                <textarea id="publicKeyB">@ViewBag.publicKeyB</textarea>
            </div>
            <div class="form-group">
                <label>私鑰B</label>
                <textarea id="privateKeyB">@ViewBag.privateKeyB</textarea>
            </div>

        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label>加密前</label>
                <textarea id="pure"></textarea>
            </div>
            <button type="button" class="btn btn-default" onclick="EncryptData()">Encrypt</button>
        </div>

        <div class="col-md-12">
            <div>
                <label>加密後</label>
                <textarea id="encryptData"></textarea>
            </div>
            <div>
                <label>簽章</label>
                <textarea id="rsaSignture"></textarea>
            </div>
            <div>
                <label>AES</label>
                <textarea id="RSAStringForaes"></textarea>
            </div>
            <div>
                <button type="submit" class="btn btn-default" onclick="DecryptData()">Decrypt</button>
            </div>
        </div>

        <div class="col-md-12">
            <div>
                <label>解密</label>
                <textarea id="decryptData"></textarea>
            </div>
        </div>
    </div>

</div>

<script>
    function EncryptData() {

        var obj = {
            PublicKey:$("#publicKeyB").val(),
            PrivateKey: $("#privateKeyA").val(),
            Pure: $("#pure").val()
        }
        $.ajax({
            url: "@Url.Action("Encrypt")",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(obj),
            success: function (data) {
                debugger;
                $("#encryptData").text(data.Content);
                $("#RSAStringForaes").text(data.RSAStringForaes);
                $("#rsaSignture").text(data.RSASignture);
                

            },
            error: function (xhr) {
                $("#encryptData").text(xhr);
            }
        });
    }

    function DecryptData() {
        var obj = {
            PublicKey: $("#publicKeyA").val(),
            PrivateKey: $("#privateKeyB").val(),
            Content: $("#encryptData").val(),
            RSAStringForaes: $("#RSAStringForaes").val()
        }
        $.ajax({
            url: "@Url.Action("Decrypt")",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(obj),
        success: function (result) {
            $("#decryptData").text(result);
        },
        error: function (xhr) {
            $("#encryptData").text(xhr);
        }
    });
    }
</script>